.login-wrap {
   position: relative;
   margin: 0 auto;
   background: #ecf0f1;
   width: 350px;
   border-radius: 5px;
   padding: 15px;
}

h2 {
   text-align: center;
   font-weight: 200;
   font-size: 2em;
   margin-top: 10px;
   color: #34495e;
}
.login-wrap .login-section {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.login-wrap .login-section label{
  font-size: 20px;
  padding-bottom: 10px;
}

.login-wrap .login-section .input {
   height: 25px;
   font-size: 20px;
}

.form {
   padding-top: 20px;
}

button {
   width: 90px;
   margin-bottom: 25px;
   height: 40px;
   border-radius: 5px;
   outline: 0;
   -moz-outline-style: none;
}

button {
   background: #e74c3c;
   border: none;
   color: white;
   font-size: 18px;
   font-weight: 200;
   cursor: pointer;
   transition: box-shadow 0.4s ease;
}
